.light_modes {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50px;
    height: 40px;
    width: 100px;
}

.mode_btns {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 100%;
    width: 100%;
}

.mode_btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    background-color: inherit;
    cursor: pointer;
    height: 100%;
    width: 100%;
}