.menu_button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: inherit;
    border: none;
    cursor: pointer;
}

.menu_button svg {
    font-size: 2rem;
}